CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build/
__pycache__
.vscode/
/.idea/
/cmake-build-debug/
/test/build/
/test/cmake-build-debug/
tables.dat
.cache/
.pytest_cache/
runs/
datasets/urqmd_nucleons_*
eosfiles
/benchmarks
/tests
